files/res/bin-converters/** filter=lfs diff=lfs merge=lfs -text
files/res/java/jre-17-win/** filter=lfs diff=lfs merge=lfs -text
files/res/java/jre-17-mac/** filter=lfs diff=lfs merge=lfs -text
files/res/java/jre-17-linux/** filter=lfs diff=lfs merge=lfs -text
files/res/bin-converters/pandoc.exe filter=lfs diff=lfs merge=lfs -text
