**/vendor
**/node_modules
**/rome.json


# Scala config folders
null
.bsp
#target
target/*
target/scala-2.13/*
!target/scala-2.13
!target/scala-2.13/api
!target/windows


project/.bloop
project/project/
project/target
project/metals.sbt
.metals
.bloop
howto-copy.md
*.sc
*.log

*err*.txt


# I don't know why this folder keep getting generated
**/Powershell 7.3.3
