**/vendor
**/node_modules
**/rome.json


# Scala config folders
null
.bsp
target
project/.bloop
project/project/
project/target
project/metals.sbt
.metals
.bloop
howto-copy.md
*.sc
*.log

# I don't know why this folder keep getting generated
**/Powershell 7.3.3
