<style>
#body {
    /*border: 1px solid red;*/
    font-family: Roboto, Verdana, sans-serif;
    max-width: 84em;
}  

<p>.flex-container {
display: flex;
justify-content: space-between;
/<em>border: 1px solid black;</em>/
}</p>

<p>.flex-container&gt;div {
background-color: #f1f1f1;
width: 100px;
margin: 10px;
text-align: center;
/<em>line-height: 75px;
font-size: 30px;</em>/
}</p>

<p>.course-code {
color: Grey;
}
</style></p>

<div id="body">
<div class="flex-container">
<h1></h1>
# Introduction a la programmation des Algorithmes  
<h1 class="course-code"> 11X01 </h1>
</div>

<hr />

<p>Frédérique LISACEK (MER), François Fleuret (PO)</p>

</div>

