<style>
#body {
    /*border: 1px solid red;*/
    font-family: Roboto, Verdana, sans-serif;
    max-width: 84em;
}  

<p>.flex-container {
display: flex;
justify-content: space-between;
/<em>border: 1px solid black;</em>/
}</p>

<p>.flex-container&gt;div {
background-color: #f1f1f1;
width: 100px;
margin: 10px;
text-align: center;
/<em>line-height: 75px;
font-size: 30px;</em>/
}</p>

<p>.course-code {
color: Grey;
}
</style></p>

<div id="body" markdown="1">
<div class="flex-container" markdown="1">
<h1></h1>

<h1> Introduction a la programmation des Algorithmes  </h1>

<h1 class="course-code"> 11X01 </h1>
</div>

<hr />

<div markdown="1" style="text-align:right">
Frédérique LISACEK (MER), François Fleuret (PO)  
</div>
<hr/>

<table>
<colgroup>
<col />
<col />
</colgroup>

<thead>
<tr>
	<th> </th>
	<th> </th>
</tr>
</thead>

<tbody>
<tr>
	<td>Content Cell </td>
	<td> Content Cell</td>
</tr>
<tr>
	<td>Content Cell </td>
	<td> Content Cell</td>
</tr>
</tbody>
</table>

<table id="prototypetable">
<caption style="caption-side: bottom;">Prototype table</caption>
<colgroup>
<col />
<col style="text-align:center;"/>
<col style="text-align:right;"/>
</colgroup>

<thead>
<tr>
	<th>    </th>
	<th style="text-align:center;" colspan="2">   Grouping   </th>
</tr>
<tr>
	<th>First Header </th>
	<th style="text-align:center;"> Second Header </th>
	<th style="text-align:right;"> Third Header </th>
</tr>
</thead>

<tbody>
<tr>
	<td>Content  </td>
	<td style="text-align:center;" colspan="2">   <em>Long Cell</em>  </td>
</tr>
<tr>
	<td>Content  </td>
	<td style="text-align:center;"> <strong>Cell</strong> </td>
	<td style="text-align:right;">   Cell </td>
</tr>
</tbody>

<tbody>
<tr>
	<td>New section </td>
	<td style="text-align:center;">  More  </td>
	<td style="text-align:right;">   Data </td>
</tr>
<tr>
	<td>And more  </td>
	<td style="text-align:center;" colspan="2"> With an escaped &#8216;|&#8217;   </td>
</tr>
</tbody>
</table>

</div>

