<style>
    #body {
        /*border: 1px solid red;*/
        font-family: Roboto, Verdana, sans-serif;
        max-width: 84em;
    }

<p>.flex-container {
display: flex;
justify-content: space-between;
background-color: DodgerBlue;
}</p>

<p>.flex-container &gt; div {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
}
.course-code {
color: Grey;
}</p>

<pre><code>table,
th,
td {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
}

.noth&gt;table &gt; thead { display: none; }
</code></pre>

</style>

<div class="flex-container">
<div>1</div>
<div>2</div>
<div>3</div>  

</div>
<div id="body" markdown="1">
<div class="flex-container" markdown="1">
<h1> Introduction a la programmation des Algorithmes </h1>
<h1 class="course-code"> 11X01 </h1>
</div>

<hr />

<div markdown="1" style="text-align:right">
Frédérique LISACEK (MER), François Fleuret (PO)
</div>
<hr />

<div class="noth" markdown="1"> 

<table>
<colgroup>
<col />
<col />
</colgroup>

<thead>
<tr>
	<th>  a  </th>
	<th>   a </th>
</tr>
</thead>

<tbody>
<tr>
	<td> Content Cell </td>
	<td> Content Cell </td>
</tr>
<tr>
	<td> ^^ </td>
	<td> Content Cell </td>
</tr>
</tbody>
</table>

</div>
</div>

