<style>
  #body {
    /*border: 1px solid red;*/
    font-family: Roboto, Verdana, sans-serif;
    max-width: 84em;
  }  

  .flex-container {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid black;*/
  }

  .flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    /*line-height: 75px;
    font-size: 30px;*/
  }

  .course-code {
    color: Grey;
  }
</style>
<div id="body" data-markdown="1">
<div class="flex-container" data-markdown="1">
<h1>
</h1>
<h1>
Introduction a la programmation des Algorithmes
</h1>
<h1 class="course-code">
11X01
</h1>
</div>
<hr />
<div data-markdown="1" style="text-align:right">
<p>Frédérique LISACEK (MER), François Fleuret (PO)</p>
</div>
<hr/>
<table>
<tbody>
<tr class="odd">
<td>Content Cell</td>
<td>Content Cell</td>
</tr>
<tr class="even">
<td>Content Cell</td>
<td>Content Cell</td>
</tr>
</tbody>
</table>
<div class="line-block">            | Grouping ||</div>
<table>
<thead>
<tr class="header">
<th>First Header</th>
<th style="text-align: center;">Second Header</th>
<th style="text-align: right;">Third Header</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Content</td>
<td style="text-align: center;"><em>Long Cell</em></td>
<td style="text-align: right;"></td>
</tr>
<tr class="even">
<td>Content</td>
<td style="text-align: center;"><strong>Cell</strong></td>
<td style="text-align: right;">Cell</td>
</tr>
</tbody>
</table>
<p>New section | More | Data | And more | With an escaped ‘|’ ||<br />
[Prototype table]</p>
</div>
