<style>
  #body {
    /*border: 1px solid red;*/
    font-family: Roboto, Verdana, sans-serif;
    max-width: 84em;
  }  

  .flex-container {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid black;*/
  }

  .flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    /*line-height: 75px;
    font-size: 30px;*/
  }

  .course-code {
    color: Grey;
  }
</style>
<div id="body">
<div class="flex-container">
<h1>
</h1>
<h1 id="introduction-a-la-programmation-des-algorithmes">Introduction a
la programmation des Algorithmes</h1>
<h1 class="course-code">
11X01
</h1>
</div>
<hr />
<p>Frédérique LISACEK (MER), François Fleuret (PO)</p>
</div>
