<div id="docute" class="Root theme-default">
<table class=".tablepage">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<tbody>
<tr class="odd">
<td id="leftmain"><div id="sidetable" class="styled-table">
<table>
<thead>
<tr class="header">
<th>Heures (Hebdo)</th>
<th>4</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Cours</td>
<td>2</td>
</tr>
<tr class="even">
<td>Exercices</td>
<td>2</td>
</tr>
<tr class="odd">
<td>Pratique</td>
<td>0</td>
</tr>
<tr class="even">
<td>Total</td>
<td>56</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th style="text-align: left;"></th>
<th style="text-align: left;"></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Langue</td>
<td style="text-align: left;">anglais</td>
</tr>
<tr class="even">
<td style="text-align: left;">Semestre</td>
<td style="text-align: left;">Printemps</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Mode d’évaluation</td>
<td style="text-align: left;">Examen oral</td>
</tr>
<tr class="even">
<td style="text-align: left;">Session</td>
<td style="text-align: left;">Juillet</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Format de l’enseignment</td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th>Cursus</th>
<th style="text-align: center;">Type</th>
<th style="text-align: center;">ECTS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Pas de cursus</td>
<td>-</td>
<td>-</td>
</tr>
</tbody>
</table>
</div></td>
<td id="rightmain"><div class="Main">
<div id="content" class="Content">
<h1 id="algebraic-curves-unige-logo" class="title"
style="color: #029093 !important;">Algebraic curves <img src="unige.png"
class="smallimg" style="width:70em" alt="unige-logo" /></h1>
<p><span class="glyphicon glyphicon-user"></span> | Gleb Smirnov -
14M252</p>
<div class="page-content has-page-title">
<hr />
<section id="introduction" class="level2 important large">
<h2 id="objectifs" class="important large">Objectifs</h2>
<p>This course gives and introduction to algebraic geometry and develops
the theory of complex algebraic curves.</p>
</section>
<hr />
<section id="description" class="level2 important large">
<h2 id="description" class="important large">Description</h2>
<ol type="1">
<li>Projective space(s). Plane algebraic curves. Bezouts theorem.</li>
<li>Rational curves.</li>
<li>Algebraic curves as complex manifolds. Branched coverings. The
Riemann-Hurwitz formula.</li>
<li>Line bundles and divisors on curves.</li>
<li>The RiemannRoch theorem for curves.</li>
<li>Metrics of constant negative curvature and uniformization
theorem.</li>
<li>Moduli of elliptic curves.</li>
</ol>
</section>
<hr />
<section id="various" class="level2 important large">
<h2 id="divers" class="important large">Divers</h2>
</section>
<hr />
<section id="comments" class="level2 important large">
<h2 id="commentaires" class="important large">Commentaires</h2>
</section>
</div>
</div>
</div></td>
</tr>
</tbody>
</table>
</div>
