<div id="docute" class="Root theme-default">
<table class=".tablepage">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<tbody>
<tr class="odd">
<td id="leftmain"><div id="sidetable" class="styled-table">
<table>
<thead>
<tr class="header">
<th>Heures (Hebdo)</th>
<th>6</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Cours</td>
<td>4</td>
</tr>
<tr class="even">
<td>Exercices</td>
<td>2</td>
</tr>
<tr class="odd">
<td>Pratique</td>
<td>0</td>
</tr>
<tr class="even">
<td>Total</td>
<td>84</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th style="text-align: left;"></th>
<th style="text-align: left;"></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Langue</td>
<td style="text-align: left;">français</td>
</tr>
<tr class="even">
<td style="text-align: left;">Semestre</td>
<td style="text-align: left;">Automne</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Mode d’évaluation</td>
<td style="text-align: left;">Examen écrit</td>
</tr>
<tr class="even">
<td style="text-align: left;">Session</td>
<td style="text-align: left;">Janvier</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Format de l’enseignment</td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th>Cursus</th>
<th style="text-align: center;">Type</th>
<th style="text-align: center;">ECTS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Baccalauréat universitaire en informatique</td>
<td>N/A</td>
<td>6</td>
</tr>
<tr class="even">
<td>Baccalauréat universitaire en mathématiques</td>
<td>N/A</td>
<td>7</td>
</tr>
<tr class="odd">
<td>Master of Science in Biology 120 crédits</td>
<td>N/A</td>
<td>6</td>
</tr>
<tr class="even">
<td>Cours donnés pour la Section de mathématiques par d’autres
sections</td>
<td>N/A</td>
<td>6</td>
</tr>
</tbody>
</table>
</div></td>
<td id="rightmain"><div class="Main">
<div id="content" class="Content">
<h1 id="introduction-à-la-programmation-des-algorithmes-unige-logo"
class="title" style="color: #029093 !important;">Introduction à la
programmation des algorithmes <img src="unige.png" class="smallimg"
style="width:70em" alt="unige-logo" /></h1>
<p><span class="glyphicon glyphicon-user"></span> | François Fleuret,
Frédérique Lisacek - 11X001</p>
<div class="page-content has-page-title">
<hr />
<section id="introduction" class="level2 important large">
<h2 id="objectifs" class="important large">Objectifs</h2>
<p>Ce cours a pour but dintroduire les concepts fondamentaux de la
programmation des ordinateurs et de lalgorithmique. Des algorithmes
représentatifs de problèmes classiques sont étudiés.</p>
</section>
<hr />
<section id="description" class="level2 important large">
<h2 id="description" class="important large">Description</h2>
<p>Concepts dalgorithmes, notions fondamentales, abstraction, séquences,
itérations, récursivité.</p>
<p>Programmes et langages de programmation, compilateurs et
interpréteurs.</p>
<p>Fondamentaux de la programmation :</p>
<ul>
<li><p>modèle de von Neumann, mémoire,</p></li>
<li><p>types primitifs,</p></li>
<li><p>tableaux et chaînes de caractères,</p></li>
<li><p>structures et énumérations,</p></li>
<li><p>instructions daffectation et de contrôle,</p></li>
<li><p>fonctions, récursivité,</p></li>
<li><p>fonctions anonymes et dordres supérieurs.</p>
<p>Pratique de la programmation</p></li>
<li><p>entrées /sorties, fichiers,</p></li>
<li><p>utilisation de librairies pré-existantes,</p></li>
<li><p>gestion des erreurs, débogage.</p>
<p>Analyse, notion de complexité des algorithmes.</p>
<p>Algorithmes et leur analyse, tris, programmation dynamique et
recherche de motifs.</p></li>
</ul>
</section>
<hr />
<section id="various" class="level2 important large">
<h2 id="divers" class="important large">Divers</h2>
<p>Préparation pour : Langages formels, Structure de données, Sémantique
des langages informatiques</p>
</section>
<hr />
<section id="comments" class="level2 important large">
<h2 id="commentaires" class="important large">Commentaires</h2>
<p>Cours, exercices, travaux pratiques intégrés</p>
</section>
</div>
</div>
</div></td>
</tr>
</tbody>
</table>
</div>
