<div id="docute" class="Root theme-default">
<table class=".tablepage">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<tbody>
<tr class="odd">
<td id="leftmain"><div id="sidetable" class="styled-table">
<table>
<thead>
<tr class="header">
<th>Heures (Hebdo)</th>
<th>4</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Cours</td>
<td>2</td>
</tr>
<tr class="even">
<td>Exercices</td>
<td>2</td>
</tr>
<tr class="odd">
<td>Pratique</td>
<td>0</td>
</tr>
<tr class="even">
<td>Total</td>
<td>56</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th style="text-align: left;"></th>
<th style="text-align: left;"></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Langue</td>
<td style="text-align: left;">français</td>
</tr>
<tr class="even">
<td style="text-align: left;">Semestre</td>
<td style="text-align: left;">Automne</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Mode d’évaluation</td>
<td style="text-align: left;">Examen écrit</td>
</tr>
<tr class="even">
<td style="text-align: left;">Session</td>
<td style="text-align: left;">Janvier</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Format de l’enseignment</td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th>Cursus</th>
<th style="text-align: center;">Type</th>
<th style="text-align: center;">ECTS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Baccalauréat universitaire en mathématique</td>
<td>N/A</td>
<td>6</td>
</tr>
<tr class="even">
<td>Baccalauréat universitaire en mathématiques</td>
<td>N/A</td>
<td>5</td>
</tr>
</tbody>
</table>
</div></td>
<td id="rightmain"><div class="Main">
<div id="content" class="Content">
<h1 id="probabilités-et-statistique-unige-logo" class="title"
style="color: #029093 !important;">Probabilités et statistique <img
src="unige.png" class="smallimg" style="width:70em"
alt="unige-logo" /></h1>
<p><span class="glyphicon glyphicon-user"></span> | Antti Knowles -
13M016A</p>
<div class="page-content has-page-title">
<hr />
<section id="introduction" class="level2 important large">
<h2 id="objectifs" class="important large">Objectifs</h2>
<p>IIntroduction des concepts de base de la théorie des probabilités:
espaces de probabilité, évènements, mesures de probabilité,
indépendance, variables aléatoires, lois des grands nombres, convergence
de séries aléatoires, convergence faible, fonctions caractéristiques, le
théorème central limite, conditionnement.</p>
</section>
<hr />
<section id="description" class="level2 important large">
<h2 id="description" class="important large">Description</h2>
<ol type="1">
<li>Rappel de la théorie de la mesure: espaces de probabilité, variables
aléatoires, espérance, indépendance.</li>
<li>La loi des grands nombres: construction de variables indépendantes,
les lemmes de Borel-Cantelli, convergence de séries aléatoires, les lois
faible et forte des grands nombres.</li>
<li>Le théorème central limite : convergence faible, fonctions
caractéristiques, le théorème central limite, processus de Poisson.</li>
<li>Conditionnement.</li>
</ol>
</section>
<hr />
<section id="various" class="level2 important large">
<h2 id="divers" class="important large">Divers</h2>
</section>
<hr />
<section id="comments" class="level2 important large">
<h2 id="commentaires" class="important large">Commentaires</h2>
</section>
</div>
</div>
</div></td>
</tr>
</tbody>
</table>
</div>
