<div id="docute" class="Root theme-default">
<table class=".tablepage">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<tbody>
<tr class="odd">
<td id="leftmain"><div id="sidetable" class="styled-table">
<table>
<thead>
<tr class="header">
<th>Heures (Hebdo)</th>
<th>0</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Cours</td>
<td>0</td>
</tr>
<tr class="even">
<td>Exercices</td>
<td>0</td>
</tr>
<tr class="odd">
<td>Pratique</td>
<td>0</td>
</tr>
<tr class="even">
<td>Total</td>
<td>0</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th style="text-align: left;"></th>
<th style="text-align: left;"></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Langue</td>
<td style="text-align: left;">français</td>
</tr>
<tr class="even">
<td style="text-align: left;">Semestre</td>
<td style="text-align: left;">Automne</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Mode d’évaluation</td>
<td style="text-align: left;"></td>
</tr>
<tr class="even">
<td style="text-align: left;">Session</td>
<td style="text-align: left;">Janvier</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Format de l’enseignment</td>
<td style="text-align: left;"></td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th>Cursus</th>
<th style="text-align: center;">Type</th>
<th style="text-align: center;">ECTS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Baccalauréat universitaire en informatique</td>
<td>N/A</td>
<td>-</td>
</tr>
</tbody>
</table>
</div></td>
<td id="rightmain"><div class="Main">
<div id="content" class="Content">
<h1 id="formation-documentaire-unige-logo" class="title"
style="color: #029093 !important;">Formation documentaire <img
src="unige.png" class="smallimg" style="width:70em"
alt="unige-logo" /></h1>
<p><span class="glyphicon glyphicon-user"></span> | Vincent Laurent
Huber - 12X050</p>
<div class="page-content has-page-title">
<hr />
<section id="introduction" class="level2 important large">
<h2 id="objectifs" class="important large">Objectifs</h2>
<ul>
<li>Conduire et documenter des stratégies de recherche dans les bases de
données documentaires principales en informatique</li>
<li>Rédiger une bibliographie cohérente à laide du logiciel Zotero</li>
<li>Éviter le plagiat</li>
</ul>
</section>
<hr />
<section id="description" class="level2 important large">
<h2 id="description" class="important large">Description</h2>
<ul>
<li>Les différents types de ressources documentaires</li>
<li>Les bases de données documentaires principales en informatique (IEEE
Xplore, DBLP)</li>
<li>Le logiciel de gestion des références Zotero</li>
<li>Citation et plagiat</li>
</ul>
</section>
<hr />
<section id="various" class="level2 important large">
<h2 id="divers" class="important large">Divers</h2>
<p>Le cours de Formation documentaire de la deuxième année est
obligatoire. Une évaluation réussie donne lieu à lobtention dun
certificat nécessaire à la réussite de la 2ème année de bachelor.</p>
</section>
<hr />
<section id="comments" class="level2 important large">
<h2 id="commentaires" class="important large">Commentaires</h2>
</section>
</div>
</div>
</div></td>
</tr>
</tbody>
</table>
</div>
